* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  //   background-color: orangered;
  font-size: 1.6rem;
  min-height: 100vh;
  overflow-y: hidden;
}
.container {
  width: 102rem;
  height: 100vh;
  background-color: #eee;
  margin: 3rem auto;

  display: grid;
  grid-template-rows: 5rem 1fr 7rem;
  //   grid-template-columns: 100px 100px;
}

header {
  //   display: grid;
  justify-self: center;
  align-self: flex-start;
  //   align-self: center;
}

main {
  // display: grid;

  // justify-content: center;
  // align-items: center;
}

.main-container {
  width: 50rem;
  margin: 0 auto;
}

.difficulty {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-self: center;
  justify-content: center;
  h2 {
    justify-self: center;
  }
  &--btns {
    justify-self: center;
    // align-self: center;

    button {
      background-color: #2ea1eb;
      border-radius: 0.5rem;
      border: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      cursor: pointer;
      letter-spacing: 0.1rem;
      transition: all 200ms ease-in-out;
    }

    &_easy:hover,
    &_easy.active {
      background-color: #37e5af;
    }
    &_medium:hover,
    &_medium.active {
      background-color: #ffe23a;
    }
    &_hard:hover,
    &_hard.active {
      background-color: #ff597a;
    }
  }
}

footer {
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 4rem;
}
.canvas {
  display: grid;
  width: 100%;
  margin-top: 2rem;
}
#minesweeper {
  display: grid;

  justify-self: center;

  height: 20rem;
  width: 20rem;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
}
